<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleGames by Erik Reis</title>
</head>
<body>
    <div id="othergames">
        <a href="/game/snake">Snake Game</a> <br/> <br/>
        <a href="/game/snake2">Snake 2</a> <br/> <br/>
        <a href="/game/snake3">Snake 3</a> <br/> <br/>
        <a href="/game/snake4">Snake 4</a> <br/> <br/>
        <a href="/game/flappybird">Flappy Bird Game</a> <br/> <br/>
        <a href="/game/dino">Dino Game</a> <br/> <br/>
        <a href="/game/pacman">Pac Man</a> <br/> <br/>
        <a href="/game/pong">Pong</a> <br/> <br/>
        <a href="/game/infinitejump">Infinite Jump</a> <br/> <br/>
    </div>
</body>
</html>